PORT=5000
SUPABASE_URL=https://cmnuxqvjyorwgsxqawxj.supabase.co
SUPABASE_ANON_KEY=sb_publishable_WlZnJItAKvkD1r-7nS8a9g_5qW_CnCI
# If you want to use the backend service role key for higher level operations
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbnV4cXZqeW9yd2dzeHFhd3hqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzgyNzczMiwiZXhwIjoyMDk5NDAzNzMyfQ.0qYWD30VDmZM4RtyYZGAzX1iguq2cITi8sdwylqWM5Q